.meta-options{
    width: 100%;
    background-color:#0578A6;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #afafaf;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.card-body p{
    color: #fff;
    float: left;
    padding: 10px;

}


